body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin: 0;
}
.irclogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: auto;


}

.rightheaderlink{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 30px;
}

.intro{
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    height: 280px;
    justify-content: space-around;
    align-items: center;
}
.introone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;


}
.intropic img{
    height: 240px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
