body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

/* HEADER */
.header{
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin: 0;
}
.irclogo{
    height: 80px;
    width: auto;
}

.rightheaderlink{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap: 30px;
}
/* HEADER */

/* FIRST TILE */



.intro{
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    height: 280px;
    justify-content: space-around;
    align-items: center;
}
.introone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;


}
.intropic img{
    height: 240px;
    width: auto;
    border-radius: 10%;
}

/* FIRST TILE */

/* SECOND TILE */
.socialsection{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-evenly;
    align-items: center;
}
.socialtext{
   font-size: 40px;
   font-weight: 700;
}
.socialsrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.socials{
    text-align: center;
   
}
.socials img{
    height: 50px;
    width: 50px;
}
.socials a{
    color: blue;
}